html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px gray;
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.box {
    height: 5%;
}

.box1 {
    background-color: #4caf50;
}

.box2 {
    background-color: #937393;
}

.box3 {
    background-color: #993399;
}

.box4 {
    background-color: #c3beb7;
}

.box5 {
    background-color: #c700f2;
}

.box6 {
    background-color: #DC143C;
}

.box7 {
    background-color: aqua;
}

.box8 {
    background-color: darkgreen;
}

.box9 {
    background-color: antiquewhite;
}

.box10 {
    background-color: deeppink;
}