.div1 {
    position: absolute;
    background-color: #4caf50;
    top: 2.5%;
    right: 75%;
    width: 250px;
    height: 100px;
}

.div2 {
    position: absolute;
    background-color: #4caf50;
    top: 5%;
    right: 10%;
    width: 225px;
    height: 225px;
}

.divShmoovin {
    position: fixed;
    background-color: #4caf50;
    top: 50%;
    right: 50%;
    width: 100px;
    height: 200px;
}