html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Trebuchet MS", sans-serif;
}

fieldset {
    margin: 20px auto;
    padding: 12px 12px;
    background-color: #B5C0D0;
    width: 100%;
    max-width: 500px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 0 black;
}

#flexContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    align-content: center;

    form {
        display: flex;
        flex-direction: column;
        width: 100%;

        input, select {
            margin: 5px 0;
            border: none;
            height: 20px;
            border-radius: 5px;
            background-color: #fbf7f5;
            box-shadow: 1px 1px 0 black;
        }

        select {
            width: 150px;
        }

        button {
            margin: 5px ;
            height: 2em;
            width: 200px;
            background-color: #CCD3CA;
            border: none;
            border-radius: 5px;
            box-shadow: 3px 3px 0 black;
            align-self: flex-end;
        }
    }

    .answerOutsideDiv {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 500px;
        height: 100px;
        margin: 0 auto;
        background-color: #F5E8DD;
        justify-items: center;
        border-radius: 10px;
        box-shadow: 5px 5px 0 black;

        h2 {
            margin: 5px 0;
        }
    }

    .answerInsideDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        background-color: #EED3D9;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        text-align: center;
    }
}


